<template name="login">
<head>
  <link rel="stylesheet" href="/login.css">
</head> 
<div class="ui one column center aligned grid ">
  <div class="column six wide form-holder">
    <h1 class="center aligned header form-head">Edformatika</h1>
    <form class="ui form" id="login-form">
      <div class="field">       
            <div class="ui left icon input" style="width:100%">
              <i class="user icon"></i>
              <input type="text" placeholder="username" name="username">
            </div>
      </div>
      <div class="field">       
            <div class="ui left icon input" style="width:100%">
              <i class="lock icon"></i>
              <input type="password" placeholder="password" name="password">
            </div>
      </div>
      <div class="field">

        
        <div class=" field ui fluid large teal submit button">Login</div>
      </div>
      <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox">
          <label style="color:white">Remember me</label>
        </div>
      </div>

      <div class="ui error message"></div>
      
    </form>
  </div>
</div>
</template>