<template name="assig_left_mhs">
	<div class="four wide column">
	    	<div class="ui segments">
	    	  <div class="ui segment gradient-teal" style="height:81px;">
	    	  	<span style="color:white;font-size:17px;">C++</span>
	    	  </div>
			  <div class="ui segment">
			    <img class="ui foto-kecil image-user" src="/images/default.png" >
				<div class="user-welcome">
					<a href="#" class="user">Hai, Mr. Subhan</a> <br>
			    	<p>Teacher</p>
				</div>
				<div class="clear"></div>
			  </div>
			</div>

		<div class="ui segment">
			<center><h2 >52/10</h2></center>
		</div>
	</div>
</template>