<template name="assig_konten_mhs">
	    <div class="ten wide column">
	    	<div class="ui segments">
	    		<div class="ui segment">
	    			<h3>Judul Assigment</h3>
	    			<span class="icon-gray">
	    				<strong>Due: </strong>Jan 23, 2016
	    			</span>
	    		</div>
	    		<div class="ui segment">
	    		
							<div class="detail">
								ini dia
							</div>


							<div class="ui segments">
								<div class="ui segment">
									<div class="ui grid">
										<div class="three wide column">
											<i class="icon-gray pointer file text outline huge icon"></i>
										</div>
										<div class="thirteen wide column">
											<a href="#">Ujian online.sql</a> <br>
											<span class="icon-gray">SQL file</span> <br>
											<i class="tooltip icon-gray pointer file text outline icon" data-content="Download File" data-variation="tiny inverted"></i>
										</div>
									</div>
								</div>
							</div>

							<div class="ui segments">
								<div class="ui segment">
									<div class="ui grid">
										<div class="four wide column">
											<a href="#"><img src="/images/default_link.jpg" alt="" class="foto-panjang"></a>
										</div>
										<div class="twelve wide column">
											<a href="#">Google</a> <br>
											<span class="icon-gray">google.com</span> <br>
										</div>
									</div>
								</div>
							</div>


				<!-- pemutup segement -->
	    		</div>

	    		<!-- penutup segments -->
	    	</div>

	    	<div class="ui segments">
	    		<div class="ui segment">
		    		<div class="ui equal width grid">

		    			<div class="column">
		    					<img src="/images/default.png" alt="" class="foto-sedang image-user"> 
								<span style="font-size:17px;"><strong>Subhan Dinda</strong></span><br>
								<span class="icon-gray">Submitted on Jan 23, 2016 @ 9:28 PM</span>  
								<div class="clear"></div>
		    			</div>

		    		</div>

	    		</div>


				<div class="ui segment">

							<div class="detail">
								ini dia
							</div>

							<div class="ui segments">
								<div class="ui segment">
									<div class="ui grid">
										<div class="three wide column">
											<i class="icon-gray pointer file text outline huge icon"></i>
										</div>
										<div class="thirteen wide column">
											<a href="#">Ujian online.sql</a> <br>
											<span class="icon-gray">SQL file</span> <br>
											<i class="tooltip icon-gray pointer file text outline icon" data-content="Download File" data-variation="tiny inverted"></i>
										</div>
									</div>
								</div>
							</div>

							<div class="ui segments">
								<div class="ui segment">
									<div class="ui grid">
										<div class="four wide column">
											<a href="#"><img src="/images/default_link.jpg" alt="" class="foto-panjang"></a>
										</div>
										<div class="twelve wide column">
											<a href="#">Google</a> <br>
											<span class="icon-gray">google.com</span> <br>
										</div>
									</div>
								</div>
							</div>

							<!-- komentar -->
							<div class="ui segments">
								  	<div class="ui segment buram">
								  		<div class="ui grid">
											<div class="two wide column">
												<img class="ui foto-kecil image-user" src="/images/default.png" >
											</div>
											<div class="fourteen wide column">
												<div class="komentar-head"><a href="#">Me </a> an 19, 2016</div>
												<p class="komentar-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi et commodi voluptatem atque tenetur earum, ea quasi a ducimus ratione reprehenderit est laborum harum corporis, itaque excepturi quae. Pariatur, quas.</p>
											</div>
								  		</div>
								  </div>

								  	<div class="ui segment buram">
								  		<div class="ui grid">
											<div class="two wide column">
												<img class="ui foto-kecil image-user" src="/images/default.png" >
											</div>
											<div class="fourteen wide column">
												<div class="komentar-head"><a href="#">Putra </a> said Jan 19, 2016</div>
												<p class="komentar-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi et commodi voluptatem atque tenetur earum, ea quasi a ducimus ratione reprehenderit est laborum harum corporis, itaque excepturi quae. Pariatur, quas.</p>
											</div>
								  		</div>
								  </div>

								  <div class="ui segment buram">
								  	<div class="ui equal width grid">
								  		<div class="column">
											<div class="ui form">
											  <div class="inline fields">
											    <div class="twelve wide field">
											      <input type="text" placeholder="Middle Name">
											    </div>
											    <div class="four wide field">
											      <div type="button" class="ui button">Kirim</div>
											    </div>
											  </div>
											</div>
								  		</div>
								  	</div>
								  </div>
							</div>

				<!-- penutup segment	 -->
				</div>
	    		<!-- penutup segments -->
	    	</div>
	    </div>
</template>