<template  name="group_left_dosen">

	    <div class="four wide column">
			<div class="ui vertical menu menu-vertical">
			  <h3 class="item header">Groups</h3>
			  <a class="item" style="background-color:red;color:white!important;">Gabung Group</a>

			  <a class="item" ><span class="small-group"><span class="kotak-kecil" style="background-color:red"></span> a</span></a>
 			  <a class="item" ><span class="small-group"><span class="kotak-kecil" style="background-color:red"></span> b</span></a>

			  <a href="#" class="item buram"> <i class="add circle large icon" style="color:orange;"></i>Create Small Group</a>

			  <a class="item group-item" style="border-left:8px solid Blue;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a>
			  <a class="item"><i class="icon-gray setting large icon"></i>Atur Group</a>
			  <a class="item"><i class="icon-gray add square large icon"></i>Buat Group</a>
			  <a class="item"><i class="icon-gray add user large icon"></i>Gabung Group</a>
			</div>
		</div>	
		
</template>