<template name="group_konten_dosen">

	    <div class="eight wide column">
	    	<div class="ui segments">
				<div class="ui segment" style="background-color:red;">
					<div class="judul-group">
						<p>Mr. putra's Computer Technology group</p>
						<span class="icon-gray">Mr. putra</span>
					</div>
					<a href="#" class="float-right" style="color:white!important"><i class="setting large icon"></i> Group Settings</a>
					<div class="clear"></div>
				</div>
				<div class="ui pointing secondary menu" style="background-color:white;margin-top:0;">
				  <a class="item active" data-tab="posts">Posts</a>
				  <a class="item" data-tab="users">Users</a>
				</div>
			</div>

			<!-- awal tab posts -->
			<div class="ui active tab " data-tab="posts">
				<div class="ui top attached tabular menu">
				  <a class="item active" data-tab="note" >Note</a>
				  <a class="item" data-tab="assigment" >Assigment</a>
				  <a class="item" data-tab="quiz">Quiz</a>
				  <a class="item" data-tab="poll">Poll</a>
				</div>
				
				<div class="ui bottom attached tab segment active" data-tab="note">
					<form class="ui form">
					  <div class="field">
					    <input class="buram" type="text" name="note" placeholder="Tulis catatanmu di sini...">
					  </div>

					  <div class="field">
							<div class="ui icon input" style="width:100%;">
							    <input class="buram" type="text" name="pencarian" placeholder="Tulis nama dari group, mahasiswa, atau dosen" >
							    <i class="search icon"></i>
							</div>
							<div class="results"></div>
					  </div>

					  <div class="field">
						  <div class="float-left">
								<i class="tooltip icon-gray pointer file text outline large icon" data-content="Share Links" data-variation="tiny inverted"></i>
					      		<i class="tooltip icon-gray pointer linkify large icon" data-content="Attach File" data-variation="tiny inverted"></i>
					      		<i class="tooltip icon-gray pointer book large icon" data-content="Tambah dari Library" data-variation="tiny inverted"></i>
					      		<span class="divide-tab">|</span>
								<span class="pointer"><i class="icon-gray wait large icon"></i> Kirim Nanti</span>
						  </div>
						  <div class="float-right">
						  	<a href="#" class="">Cancel</a> or
					      	<button class="ui teal button" type="submit">Kirim</button>	
						  </div>
						  <div class="clear"></div>		   
					  </div>
					</form>
				</div>

				<div class="ui bottom attached tab segment" data-tab="assigment">
					<form class="ui form">
					  <div class="field">
					    <input class="buram" type="text" name="note" placeholder="Assigment title">
					  </div>
					 <div class="field">
						<div class="ui right labeled input">
						<div class="ui label"><i class="calendar icon"></i></div>
						  <input class="datepicker" type="text">
						</div>
					 </div>

					 <div class="field">
					 	<input class="buram" type="checkbox" name="dua-date"> Kunci assigment setelah batas akhir tanggal
					 </div>

					 <div class="field">
					 	<input class="buram" type="checkbox" name="add-gradebook"> Tambahkan ke Buku besar
					 </div>

					  <div class="field">
							<div class="ui icon input" style="width:100%;">
							    <input class="buram" type="text" name="pencarian" placeholder="Kirim ke..." >
							    <i class="search icon"></i>
							</div>
							<div class="results"></div>
					  </div>

					  <div class="field">
						  <div class="float-left">
								<i class="tooltip icon-gray pointer file text outline large icon" data-content="Share Links" data-variation="tiny inverted"></i>
					      		<i class="tooltip icon-gray pointer linkify large icon" data-content="Attach File" data-variation="tiny inverted"></i>
					      		<i class="tooltip icon-gray pointer book large icon" data-content="Tambah dari Library" data-variation="tiny inverted"></i>
					      		<span class="divide-tab">|</span>
								<span class="pointer"><i class="icon-gray wait large icon"></i> Kirim Nanti</span>
						  </div>
						  <div class="float-right">
						  	<a href="#" class="">Cancel</a> or
					      	<button class="ui teal button" type="submit">Kirim</button>
						  </div>
						  <div class="clear"></div>		   
					  </div>
					</form>
				</div>


				<div class="ui bottom attached tab segment" data-tab="quiz">
					<button class="ui teal button" type="button">Kirim</button> or <a href="#">Load From Collection</a>
				</div>


				<div class="ui bottom attached tab segment" data-tab="poll">
					<form class="ui form">
					  <div class="field">
					    <input class="buram" type="text" name="pertanyaan" placeholder="Pertanyaan...">
					  </div>

					 <div class="field">
				    	<div class="ui segments">
						  <div class="ui segment buram">
	 							<div class="field"><input  type="text" name="answer" placeholder="Answer #1"> </div>
	 							<div class="field"><input  type="text" name="answer" placeholder="Answer #1"> </div>
	 							<div class="field"><button type="button" class="float-right ui teal basic button">Tambah Pertanyaan</button></div>
								<div class="clear"></div>
						  </div>
						</div>
					 </div>


					  <div class="field">
							<div class="ui icon input" style="width:100%;">
							    <input class="buram" type="text" name="pencarian" placeholder="Kirim ke..." >
							    <i class="search icon"></i>
							</div>
							<div class="results"></div>
					  </div>

					  <div class="field">
						  <div class="float-left pointer ">
								<i class="icon-gray wait large icon"></i> Kirim Nanti
						  </div>
						  <div class="float-right">
						  	<a href="#" class="">Cancel</a> or
					      	<button class="ui teal button" type="submit">Kirim</button>	
						  </div>
						  <div class="clear"></div>		   
					  </div>
					</form>
				</div>

		    	<div class="ui segments">
					  <div class="ui segment">
							<h3 class="item header float-left">Post Terakhir</h3>
							<div class="ui buttons float-right">
							  <div class="ui floating dropdown icon button">
							   <span>Filter posts by</span>
							    <i class="angle down icon"></i>
							    <div class="ui menu">
								    <div class="header">Author</div>
								      <div class="item"><i class="user icon"></i> <a href="#">By Me</a></div>
								      <div class="item"><i class="users icon"></i> <a href="#">By Student</a></div>

							        <div class="header">Type</div>

								      <div class="item"><i class="edit icon"></i> <a href="#">Latest Post</a></div>
								      <div class="item"><i class="check circle outline icon"></i> <a href="#">Assigment</a></div>
								      <div class="item"><i class="help circle icon"></i> <a href="#">Quizzes</a></div>
								      <div class="item"><i class="signal icon"></i> <a href="#">Poll</a></div>
							    </div>
							  </div>
							</div>
							<div class="clear"></div>
					  </div>

					  <div class="ui segment">
					  		<div class="ui grid">
								<div class="two wide column">
									<img class="ui foto-sedang image-user" src="/images/default.png" >
								</div>
								<div class="fourteen wide column">
									<div class="beranda-head float-left"><a href="#">Me</a> to <a href="#">Putra d.</a>, <a href="#"><span class="color-group" style="background-color:red;"> </span> c++</a></div>

									  <div class="ui floating dropdown icon float-right">
									    <i class="angle down icon"></i>
									    <div class="ui menu">
										      <div class="item"><a href="#">Delete Post</a></div>
										      <div class="item"><a href="#">Link to Post</a></div>
									    </div>
									  </div>
									  <div class="clear"></div>

									<div class="quis-detail">
										<strong>Untitled quiz - 2016-01-19-01-25-46</strong>
									</div>
								
									<div class="ui segments">
										<div class="ui segment">
											<button class="ui teal basic button">Turned In (2)</button>
											<span class="tanggal">Due Jan 21, 2016</span>
										</div>
										<div class="ui segment">
												<strong>3 pertanyaan</strong> - <span>Logika</span>	
										</div>
									</div>
								</div>
					  		</div>
					  </div>

					  <div class="ui segment buram">
					  	<div class="ui grid">
					  		<div class="two wide column"></div>
					  		<div class="fourteen wide column">

								<div class="ui horizontal bulleted list icon-gray">
								  <a class="item">
								   	Reply
								  </a>
								  <a class="item">
								    Following
								  </a>
								</div>

								<div class="float-right icon-gray">
									Jan 19, 2016
								</div>

								<div class="clear"></div>
					  		</div>
					  	</div>
					  </div>

					  	<div class="ui segment buram">
					  		<div class="ui grid">
								<div class="two wide column">
									<img class="ui foto-kecil image-user" src="/images/default.png" >
								</div>
								<div class="fourteen wide column">
									<div class="komentar-head"><a href="#">Dinda P.</a> said Jan 19, 2016</div>
									<p class="komentar-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi et commodi voluptatem atque tenetur earum, ea quasi a ducimus ratione reprehenderit est laborum harum corporis, itaque excepturi quae. Pariatur, quas.</p>
								</div>
					  		</div>
					  </div>

					  	<div class="ui segment buram">
					  		<div class="ui grid">
								<div class="two wide column">
									<img class="ui foto-kecil image-user" src="/images/default.png" >
								</div>
								<div class="fourteen wide column">
									<div class="komentar-head"><a href="#">Me </a> Jan 19, 2016</div>
									<p class="komentar-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
								</div>
					  		</div>
					  </div>

					  <div class="ui segment buram">
					  	<div class="ui grid">
					  		<div class="two wide column">
					  			<img class="ui foto-kecil image-user" src="/images/default.png" >
					  		</div>
					  		<div class="fourteen wide column">
								<div class="ui form">
								  <div class="inline fields">

								    <div class="thirteen wide field">
								      <input type="text" placeholder="Middle Name">
								    </div>
								    <div class="three wide field">
								      <div class="ui submit button">Kirim</div>
								    </div>
								  </div>
								</div>
					  		</div>
					  	</div>
					  </div>
				</div>



		    	<div class="ui segments">
					  <div class="ui segment">
					  		<div class="ui grid">
								<div class="two wide column">
									<img class="ui foto-sedang image-user" src="/images/default.png" >
								</div>
								<div class="fourteen wide column">
									<div class="beranda-head float-left"><a href="#">Me</a> to <a href="#">Putra d.</a>, <a href="#"><span class="color-group" style="background-color:red;"> </span> c++</a></div>

									  <div class="ui floating dropdown icon float-right">
									    <i class="angle down icon"></i>
									    <div class="ui menu">
										      <div class="item"><a href="#">Delete Post</a></div>
										      <div class="item"><a href="#">Link to Post</a></div>
									    </div>
									  </div>
									  <div class="clear"></div>


									<div class="detail">
										ini dia
									</div>
								
									<div class="ui segments">
										<div class="ui segment">
											<div class="ui grid">
												<div class="three wide column">
													<i class="icon-gray pointer file text outline huge icon"></i>
												</div>
												<div class="thirteen wide column">
													<a href="#">Ujian online.sql</a> <br>
													<span class="icon-gray">SQL file</span> <br>
													<i class="tooltip icon-gray pointer file text outline icon" data-content="Download File" data-variation="tiny inverted"></i>
												</div>
											</div>
										</div>

									</div>
								</div>
					  		</div>
					  </div>

					  <div class="ui segment buram">
					  	<div class="ui grid">
					  		<div class="two wide column"></div>
					  		<div class="fourteen wide column">

								<div class="ui horizontal bulleted list">
								  <a class="item">
								    Like (2)
								  </a>
								  <a class="item">
								    2 Replies
								  </a>
								  <a class="item">
								    Share
								  </a>
								  <a class="item">
								    Following
								  </a>
								</div>
								
								<div class="float-right icon-gray">
									2 seconds ago
								</div>

								<div class="clear"></div>
					  		</div>
					  	</div>
					  </div>

					  	<div class="ui segment buram">
					  		<div class="ui grid">
								<div class="two wide column">
									<img class="ui foto-kecil image-user" src="/images/default.png" >
								</div>
								<div class="fourteen wide column">
									<div class="komentar-head"><a href="#">Dinda P.</a> said Jan 19, 2016</div>
									<p class="komentar-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi et commodi voluptatem atque tenetur earum, ea quasi a ducimus ratione reprehenderit est laborum harum corporis, itaque excepturi quae. Pariatur, quas.</p>
								</div>
					  		</div>
					  </div>

					  	<div class="ui segment buram">
					  		<div class="ui grid">
								<div class="two wide column">
									<img class="ui foto-kecil image-user" src="/images/default.png" >
								</div>
								<div class="fourteen wide column">
									<div class="komentar-head"><a href="#">Me </a> Jan 19, 2016</div>
									<p class="komentar-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
								</div>
					  		</div>
					  </div>

					  <div class="ui segment buram">
					  	<div class="ui grid">
					  		<div class="two wide column">
					  			<img class="ui foto-kecil image-user" src="/images/default.png" >
					  		</div>
					  		<div class="fourteen wide column">
								<div class="ui form">
								  <div class="inline fields">

								    <div class="thirteen wide field">
								      <input type="text" placeholder="Middle Name">
								    </div>
								    <div class="three wide field">
								      <div class="ui submit button">Kirim</div>
								    </div>
								  </div>
								</div>
					  		</div>
					  	</div>
					  </div>
				</div>



		    	<div class="ui segments">
					  <div class="ui segment">
					  		<div class="ui grid">
								<div class="two wide column">
									<img class="ui foto-sedang image-user" src="/images/default.png" >
								</div>
								<div class="fourteen wide column ">
									<div class="beranda-head float-left"><a href="#">Me</a> to <a href="#">Putra d.</a>, <a href="#"><span class="color-group" style="background-color:red;"> </span> c++</a></div>

									  <div class="ui floating dropdown icon float-right">
									    <i class="angle down icon"></i>
									    <div class="ui menu">
										      <div class="item"><a href="#">Delete Post</a></div>
										      <div class="item"><a href="#">Link to Post</a></div>
									    </div>
									  </div>
									  <div class="clear"></div>


									<div class="detail">
										ini dia
									</div>
								
										<div class="ui segment">
											<div class="ui grid">
												<div class="sixteen wide column">
													<div class="ui tiny teal progress" data-percent="74" id="example1">
													  <div class="label"><strong>pilihan 1 </strong><span class="icon-gray">74%, 1 vote(s)</span></div>
													  <div class="bar"></div>
													</div>

													<div class="ui tiny teal progress" data-percent="50" id="example1">
														<div class="label"><strong>pilihan 2 </strong><span class="icon-gray">50%, 2 vote(s)</span></div>
													  <div class="bar"></div>
													</div>

												</div>
											</div>
										</div>
										<p>Total Votes (2)</p>
								</div>
					  		</div>
					  </div>

					  <div class="ui segment buram">
					  	<div class="ui grid">
					  		<div class="two wide column"></div>
					  		<div class="fourteen wide column">

								<div class="ui horizontal bulleted list">
								  <a class="item">
								    Like (2)
								  </a>
								  <a class="item">
								    2 Replies
								  </a>
								  <a class="item">
								    Share
								  </a>
								  <a class="item">
								    Following
								  </a>
								</div>
								
								<div class="float-right icon-gray">
									2 seconds ago
								</div>

								<div class="clear"></div>
					  		</div>
					  	</div>
					  </div>

					  	<div class="ui segment buram">
					  		<div class="ui grid">
								<div class="two wide column">
									<img class="ui foto-kecil image-user" src="/images/default.png" >
								</div>
								<div class="fourteen wide column">
									<div class="komentar-head"><a href="#">Dinda P.</a> said Jan 19, 2016</div>
									<p class="komentar-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi et commodi voluptatem atque tenetur earum, ea quasi a ducimus ratione reprehenderit est laborum harum corporis, itaque excepturi quae. Pariatur, quas.</p>
								</div>
					  		</div>
					  </div>

					  	<div class="ui segment buram">
					  		<div class="ui grid">
								<div class="two wide column">
									<img class="ui foto-kecil image-user" src="/images/default.png" >
								</div>
								<div class="fourteen wide column">
									<div class="komentar-head"><a href="#">Me </a> Just Now</div>
									<p class="komentar-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
								</div>
					  		</div>
					  </div>

					  <div class="ui segment buram">
					  	<div class="ui grid">
					  		<div class="two wide column">
					  			<img class="ui foto-kecil image-user" src="/images/default.png" >
					  		</div>
					  		<div class="fourteen wide column">
								<div class="ui form">
								  <div class="inline fields">

								    <div class="thirteen wide field">
								      <input type="text" placeholder="Middle Name">
								    </div>
								    <div class="three wide field">
								      <div class="ui submit button">Kirim</div>
								    </div>
								  </div>
								</div>
					  		</div>
					  	</div>
					  </div>
				</div>



		    	<div class="ui segments">
					  <div class="ui segment">
					  		<div class="ui grid">
								<div class="two wide column">
									<img class="ui foto-sedang image-user" src="/images/default.png" >
								</div>
								<div class="fourteen wide column">
									<div class="beranda-head float-left"><a href="#">Me</a> to <a href="#">Putra d.</a>, <a href="#"><span class="color-group" style="background-color:red;"> </span> c++</a></div>

									  <div class="ui floating dropdown icon float-right">
									    <i class="angle down icon"></i>
									    <div class="ui menu">
										      <div class="item"><a href="#">Delete Post</a></div>
										      <div class="item"><a href="#">Link to Post</a></div>
									    </div>
									  </div>
									  <div class="clear"></div>


									<div class="detail">
										ini dia
									</div>

									<div class="ui segments">
										<div class="ui segment">
											<button class="ui teal basic button">Turned In (2)</button>
											<span class="tanggal">Due Jan 21, 2016</span>
										</div>
										<div class="ui segment">
											<span class="icon-gray">Ini assigmentnya</span>
										</div>
									</div>


									<div class="ui segments">
										<div class="ui segment">
											<div class="ui grid">
												<div class="three wide column">
													<i class="icon-gray pointer file text outline huge icon"></i>
												</div>
												<div class="thirteen wide column">
													<a href="#">Ujian online.sql</a> <br>
													<span class="icon-gray">SQL file</span> <br>
													<i class="tooltip icon-gray pointer file text outline icon" data-content="Download File" data-variation="tiny inverted"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="ui segments">
										<div class="ui segment">
											<div class="ui grid">
												<div class="four wide column">
													<a href="#"><img src="/images/default_link.jpg" alt="" class="foto-panjang"></a>
												</div>
												<div class="twelve wide column">
													<a href="#">Google</a> <br>
													<span class="icon-gray">google.com</span> <br>
												</div>
											</div>
										</div>
									</div>


								</div>
					  		</div>
					  </div>

					  <div class="ui segment buram">
					  	<div class="ui grid">
					  		<div class="two wide column"></div>
					  		<div class="fourteen wide column">

								<div class="ui horizontal bulleted list">
								  <a class="item">
								    2 Replies
								  </a>
								  <a class="item">
								    Following
								  </a>
								</div>
								
								<div class="float-right icon-gray">
									2 seconds ago
								</div>

								<div class="clear"></div>
					  		</div>
					  	</div>
					  </div>

					  	<div class="ui segment buram">
					  		<div class="ui grid">
								<div class="two wide column">
									<img class="ui foto-kecil image-user" src="/images/default.png" >
								</div>
								<div class="fourteen wide column">
									<div class="komentar-head"><a href="#">Dinda P.</a> said Jan 19, 2016</div>
									<p class="komentar-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi et commodi voluptatem atque tenetur earum, ea quasi a ducimus ratione reprehenderit est laborum harum corporis, itaque excepturi quae. Pariatur, quas.</p>
								</div>
					  		</div>
					  </div>

					  	<div class="ui segment buram">
					  		<div class="ui grid">
								<div class="two wide column">
									<img class="ui foto-kecil image-user" src="/images/default.png" >
								</div>
								<div class="fourteen wide column">
									<div class="komentar-head"><a href="#">Me </a> Jan 19, 2016</div>
									<p class="komentar-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
								</div>
					  		</div>
					  </div>

					  <div class="ui segment buram">
					  	<div class="ui grid">
					  		<div class="two wide column">
					  			<img class="ui foto-kecil image-user" src="/images/default.png" >
					  		</div>
					  		<div class="fourteen wide column">
								<div class="ui form">
								  <div class="inline fields">

								    <div class="thirteen wide field">
								      <input type="text" placeholder="Middle Name">
								    </div>
								    <div class="three wide field">
								      <div class="ui submit button">Kirim</div>
								    </div>
								  </div>
								</div>
					  		</div>
					  	</div>
					  </div>
				</div>


		    	<div class="ui segments">

					  <div class="ui segment">
					  		<div class="ui grid">
								<div class="two wide column">
									<img class="ui foto-sedang" src="/images/default.png" >
								</div>
								<div class="fourteen wide column">
									<div class="beranda-head float-left"><a href="#">Me</a> to <a href="#">Putra d.</a>, <a href="#"><span class="color-group" style="background-color:red;"> </span> c++</a></div>


									  <div class="ui floating dropdown icon float-right">
									    <i class="angle down icon"></i>
									    <div class="ui menu">
										      <div class="item"><a href="#">Delete Post</a></div>
										      <div class="item"><a href="#">Link to Post</a></div>
									    </div>
									  </div>
									  <div class="clear"></div>


									<div class="quis-detail">
										<span>Link 2 </span>
									</div>
									<br>
									<div class="ui grid">
										<div class="one wide column">
											<div style="height:100px; border-left: 2px solid #3784d3;"></div>
										</div>
										<div class="four wide column">
											<img  class="ui foto-besar" src="/images/default_link.jpg" >
										</div>
										<div class="ten wide column">
											<p><strong>Link 2</strong></p>
											<a href="#">google.com</a>
										</div>
									</div>
								</div>
					  		</div>
					  </div>

					  <div class="ui segment buram">
					  	<div class="ui grid">
					  		<div class="two wide column"></div>
					  		<div class="fourteen wide column">

								<div class="ui horizontal bulleted list">
								  <a class="item">
								    Like (2)
								  </a>
								  <a class="item">
								    2 Replies
								  </a>
								  <a class="item">
								    Share
								  </a>
								  <a class="item">
								    Following
								  </a>
								</div>

								<div class="float-right icon-gray">
									Jan 19, 2016
								</div>

								<div class="clear"></div>
					  		</div>
					  	</div>
					  </div>

					  	<div class="ui segment buram">
					  		<div class="ui grid">
								<div class="two wide column">
									<img class="ui foto-kecil image-user" src="/images/default.png" >
								</div>
								<div class="fourteen wide column">
									<div class="komentar-head"><a href="#">Dinda P.</a> said Jan 19, 2016</div>
									<p class="komentar-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi et commodi voluptatem atque tenetur earum, ea quasi a ducimus ratione reprehenderit est laborum harum corporis, itaque excepturi quae. Pariatur, quas.</p>
								</div>
					  		</div>
					  </div>

					  	<div class="ui segment buram">
					  		<div class="ui grid">
								<div class="two wide column">
									<img class="ui foto-kecil image-user" src="/images/default.png" >
								</div>
								<div class="fourteen wide column">
									<div class="komentar-head"><a href="#">Me </a> Jan 19, 2016</div>
									<p class="komentar-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
								</div>
					  		</div>
					  </div>

					  <div class="ui segment buram">
					  	<div class="ui grid">
					  		<div class="two wide column">
					  			<img class="ui foto-kecil image-user" src="/images/default.png" >
					  		</div>
					  		<div class="fourteen wide column">
								<div class="ui form">
								  <div class="inline fields">

								    <div class="thirteen wide field">
								      <input type="text" placeholder="Middle Name">
								    </div>
								    <div class="three wide field">
								      <div class="ui submit button">Kirim</div>
								    </div>
								  </div>
								</div>
					  		</div>
					  	</div>
					  </div>
				</div>

		<!-- akhir tab posts -->
		</div>

		<!-- awal tab users -->
		<div class="ui tab segments" data-tab="users">
			<div class="ui segment">
				<div class="ui grid">
					<div class="eight wide column">
						<h3 class="header">Mahasiswa</h3>
					</div>
					<div class="eight wide column">
						<div class="ui form">
						  <div class="field">
							<input type="text" placeholder="Cari mahasiswa">
						  </div>
						</div>
					</div>
				</div>

			</div>
			<div class="ui segment">
				<div class="ui grid">
					<div class="three wide column">
						<img class="logo foto-besar" src="/images/default.png" style="border-radius:5px;">
					</div>
					<div class="thirteen wide column">
						<div class="float-right">
							<a href="#">Manage</a>
						</div>
						<a href="#">Mr. subhan dinda putra</a> <br>
						<span class="icon-gray">Teacher (Owner)</span> <br>
					</div>
				</div>
			</div>
			<div class="ui segment">
				<div class="ui grid">
					<div class="three wide column">
						<img class="logo foto-besar" src="/images/default.png" style="border-radius:5px;">
					</div>
					<div class="thirteen wide column">
						 <div class="float-right">
							<a href="#">Manage</a>
						</div>
						<a href="#">Putra</a> <br>
						<span class="icon-gray">Mahasiswa</span> <br><br>
						<span class="icon-gray">F551 13 023</span>
					</div>
				</div>
			</div>
			<div class="ui segment">
				<div class="ui grid">
					<div class="three wide column">
						<img class="logo foto-besar" src="/images/default.png" style="border-radius:5px;">
					</div>
					<div class="thirteen wide column">
						<div class="float-right">
							<a href="#">Manage</a>
						</div>
						<a href="#">Abd. saputra</a> <br>
						<span class="icon-gray">Mahasiswa</span> <br><br>
						<span class="icon-gray">F551 13 031</span>

					</div>
				</div>
			</div>
		</div>

	 <!-- eight colum -->
	  </div>

</template>