<template  name="group_right_dosen">

	  <div class="four wide column">
			<div class="ui segments">
				<div class="ui segment">
					<span class="icon-gray">Group Code: <span class="buram">4sdf3g2</span></span>
					<div class="ui floating dropdown icon float-right">
					    <i class="angle down icon"></i>
					    <div class="ui menu">
						      <div class="item"><a href="#">Reset Code</a></div>
						      <div class="item"><a href="#">Lock Group</a></div>
					    </div>
				  </div>
				</div>
			</div>
	   </div>
	   
</template>