  body {
    background-color: #eeeeee;
  }

  a{
    color: teal!important;
  }

  a:hover{
    color:#006c67!important;
  }

  .main{
    margin-top: 6em;
  }

  .image-user{
    float: left;
    margin-right: 15px!important;
    margin-bottom: 5px!important;
  }

  .clear{
    clear: both;
  }

  .menu-vertical{
    width: 100%!important;
  }


  .pointer{
    cursor: pointer!important;
  }

  .float-left{
    float: left;
  }

  .float-right{
    float: right;
  }

  .icon-gray{
    color: gray;
  }

  .buram{
    background-color:#f2f2f2!important;
  }

  .divide-tab{
    color: #d5dbe1;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .segment-menu:hover{
    background-color: #FFFFFF!important;
  }

.foto-besar{
    width: 80px;
    height: 80px;
    border-radius: 5px;
}  

.foto-panjang{
    width: 100%;
    height: 50px;
    border-radius: 5px;
}  

  .foto-sedang{
    width: 50px!important;
    height: 55px!important;
    border-radius: 5px;
  }

  .foto-kecil{
    width: 35px!important;
    height: 35px!important;
    border-radius: 5px;
  }

  .foto-search{
    width: 15px!important;
    height: 15px!important;
    border-radius: 5px;
  }

  .kotak-kecil{
    width: 10px;
    height: 10px;
    margin-right: 3px;
    border-radius: 2px;
    display: inline-block;
  }

  .kotak-sedang{
    width: 20px;
    height: 20px;
    margin-right: 3px;
    border-radius: 2px;
    display: inline-block;
  }

  .kotak-search{
    width: 20px;
    height: 20px;
    margin-right: 3px;
    border-radius: 2px;
    display: inline-block;
  }

  .beranda-head{
    margin-bottom: 15px;
  }

  .komentar-head{
    margin-bottom: 7px;
  }
  
  .group-item:hover{
    border-left-width: 15px!important;

  }

  .group-item-mhs{
    border-left:8px solid #006c67;
  }

  .datetimepicker-widget{
    z-index: 1000!important;
  }


  .ui.tabular.menu{
    background-color: #f8f9fa!important;
    color: teal!important;
  }

  .ui.tabular.menu .item{
    border-right: 1px solid #d4d4d5!important;
    border-top: 1px solid #d4d4d5!important;
  }

   .ui.tabular.menu.assigment .item{
    border-top: none!important;
  }

  .font-sedang{
    font-weight: bold;
    font-size: 15px;
  }


  .icon-kanan{
    float: left;
    margin-right: 10px;
  }

  span.kotak-sedang{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

.small-group{
  margin-left: 15px!important;
}

div.judul-group{
  margin: 15px;
  border-left: 5px solid white;
}

  .judul-group p{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
  }

  .judul-group p, .judul-group span{
    margin-left: 10px;
    color: white!important;
  }


  .ui.popup.isi-notif{
    min-width: 392px!important;
    max-width: 392px!important;
  }
    .bungkus-notif{
      max-height:600px!important;
      overflow-y:scroll; 
      overflow-x:hidden;
    }

    .bungkus-searching{
      max-height:500px!important;
      overflow-y:scroll; 
      overflow-x:hidden;
    }

.ui.dimmer {
  background-color:rgba(000,000,000,0.5)!important;
}

/*.modal-group{
  width: 30%!important;
}

.join-group{
  width: 20%!important;
  margin-left: auto!important;
}*/

.gradient-teal{
    background: #00b5ad!important;  /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00a29b, #006c67)!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00a29b, #006c67)!important;  /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00a29b, #006c67)!important;  /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00a29b, #006c67)!important;  /* Standard syntax */
    color: white!important;
}

.searching-column{
  cursor: pointer;
}

.searching-column:hover{
  background-color: #f2f2f2;
}

.notification-badge {
  right: -6px; 
  width: 21px;
  height: 21px;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(255, 255, 255); 
  background-color: #db2828;
  border-radius: 30%;
}

