<template  name="group_left_mhs">

	    <div class="four wide column">
			<div class="ui vertical menu menu-vertical">
			  <h3 class="item header">Groups</h3>
			  <a class="item" style="background-color:#197a76;color:white!important;">baru Group</a>

			  <a class="item" ><span class="small-group"><span class="kotak-kecil" style="background-color:#197a76"></span> a</span></a>
 			  <a class="item" ><span class="small-group"><span class="kotak-kecil" style="background-color:#197a76"></span> b</span></a>

			  <a class="item group-item group-item-mhs" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a>
			 <a class="item"><i class="icon-gray setting large icon"></i>Tampilkan Semua Group</a>
			  <a class="item"><i class="icon-gray add user large icon"></i>Gabung Group</a>
			</div>
		</div>	
		
</template>