<template name="assig_left_dosen">
	<div class="four wide column">
		<div class="ui segments">
		  <div class="ui segment">
		    <i class="checkmark box big icon icon-kanan"></i>
			<div class="user-welcome">
				<a href="#" class="font-sedang" >Judul Assigment</a> <br>
		    	<p class="icon-gray">Due Jan 23, 2016</p>
			</div>
			<div class="clear"></div>
		  </div>

		  <div class="ui segment">
			<div class="ui form">
			  <div class="inline field">
			     <label>Showing</label>
			    <select class="ui dropdown" name="showing">
			      <option value="0">All</option>
			      <option value="1">Turned In</option>
			      <option value="2">Graded</option>
			      <option value="3">Not Turned In</option>
			    </select>
			  </div>
			</div>
		  </div>

		  <div class="ui segment buram assigment-group" style="border-bottom:1px solid red;">
				<span class="kotak-sedang" style="background-color:red"></span> c++
		  </div>

			<div class="ui segment vertical menu menu-vertical">
			  <a class="item"><img src="/images/default.png" alt="" class="foto-kecil image-user"> subhan dinda  <div class="clear"></div></a>

			  <a class="item"><img src="/images/default.png" alt="" class="foto-kecil image-user"> <i style="color:red" class="wait large icon"></i> namanya  <div class="clear"></div></a>
			</div>

		</div>
	</div>
</template>

<!-- <select class="ui fluid search dropdown" multiple="">
  <option value="">State</option>
  <option value="AL">Alabama</option>
  <option value="AK">Alaska</option>
  <option value="AZ">Arizona</option>
  <option value="DE">Delaware</option>
  <option value="DC">District Of Columbia</option>
  <option value="WI">Wisconsin</option>
  <option value="WY">Wyoming</option>
</select> -->
