<template name="home_left_dosen">

	    <div class="four wide column">
	    	<div class="ui segments">
			  <div class="ui segment sidebar-home">
			    <img class="ui foto-sedang middle align image-user" src="/images/default.png" >
				<div class="user-welcome">
					<a href="#" class="user">Hai, Mr. Subhan</a> <br>
			    	<p>Teacher</p>
				</div>
				<div class="clear"></div>
			  </div>
			</div>

			<div class="ui vertical menu menu-vertical">
			  <h3 class="item header">Groups</h3>
			  <a class="item group-item" style="border-left:8px solid red;">Gabung Group</a>
			  <a class="item group-item" style="border-left:8px solid Blue;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a>
			  <a class="item"><i class="icon-gray setting large icon"></i>Atur Group</a>
			  <a class="item buat-group"><i class="icon-gray add square large icon"></i>Buat Group</a>
			  <a class="item gabung-group"><i class="icon-gray add user large icon"></i>Gabung Group</a>
			</div>
		</div>

</template>